@font-face {
  font-family: 'BrixtonLt';
  src: url("../font/BrixtonLt.ttf");
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}


/**
 * ページ全体
 */
html {
  font-size: 62.5% !important;
  font-family: 'BrixtonLt' !important;
}

body {
  // height: 100vh;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-position: center;
  padding-bottom: 80px !important;
}


/**
 * アップロードエリア
 */
#upload-area {
  width: 90%;
  max-width: 600px;
  height: 50vh;
  margin: 10% auto;
  background-color: rgba(140, 140, 140, .5);

  &:active {
    background-color: rgba(140, 140, 140, .8);
  }

  &.hide {
    display: none;
  }

  #original-image-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 5%;
      border: 4px dashed #fff;
    }
  }

  #original-image-file {
    display: none;
  }
}


/**
 * アップロード後のエリア
 */
#uploaded-area {
  display: none;
  &.show {
    display: block;
  }
}

/**
 * cropperエリア
 */
.cropper-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 32px auto 32px;

  .cropper-image {
    max-width: 100%;

    #cropper-canvas {
      width: 100%;
    }
  }

  .cropper-preview {
    display: none;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10%;

    .cropper-preview__inner {
      width: 100%;
      padding-top: 100%;
      position: relative;

      .cropper-preview__img {
        width: 320px;
        height: 320px;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        border: 1px solid #000;
      }
    }
  }
}


/**
 * 減色実行ボタン
 */
.run-btn-area {
  display: block;
  width: 100%;
  padding: 16px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  text-align: center;
  background-color: rgba(140, 140, 140, 0.5);
  border-top: 1px solid #fff;

  #run-btn {
    display: block;
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    font-size: 3rem;
    color: #444;
    background-color: #ccc;
    cursor: pointer;
    text-decoration: none;
  }
}


/**
 * 減色後の画像表示エリア
 */
.result-area {
  display: block;
  width: 90%;
  max-width: 600px;
  margin: 0 auto 26px;
  position: relative;

  .result-box {
    width: 100%;
    padding-top: 100%;
  }

  #result {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  #result-grid {
    position: absolute;
    top: -20px;
    left: -20px;
    top: 0;
    left: 0;
    width: 100%;
  }

  #result-highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}


/**
 * 減色後のカラーリスト
 */
.colors {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 32px;

  .colors-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    li {
      width: 20px;
      height: 20px;
      margin: 0 10px 10px;
      border: 1px solid #fff;
      cursor: pointer;

      &.active {
        transform: scale(1.2);
        transform-origin: center;
        box-shadow: 0px 0px 10px 2px #fff;
      }
    }
  }
}


/**
 * カラーコード
 */
.color-code {
  display: block;
  width: 300px;
  margin: 0 auto 32px;
  color: #fff;

  .color-code-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 16px;
    font-size: 1.6rem;

    .color-code__bar {
      flex: 1;
      height: 16px;
      margin: 0 8px;
      background-color: #000;

      .color-code__bar-inner {
        width: 0;
        height: 100%;
      }
    }
    .color-code__number {
      flex: 0 0 70px;
    }
  }
  .color-code-list__item--red {
    .color-code__bar {
      border: 1px solid #f00;
      .color-code__bar-inner {
        background-color: #f00;
      }
    }
  }
  .color-code-list__item--green {
    .color-code__bar {
      border: 1px solid #0f0;
      .color-code__bar-inner {
        background-color: #0f0;
      }
    }
  }
  .color-code-list__item--blue {
    .color-code__bar {
      border: 1px solid #00f;
      .color-code__bar-inner {
        background-color: #00f;
      }
    }
  }
}
